 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>
                      I Attended California Polytechnic State University San Luis Obispo where I obtained both a 
                      Bachelors of Science in Software Engineering and a Masters of Science in Computer Science. For my
                      masters thesis I helped develop an Android Development class for the school's upper division 
                      Computer Science and Software Engineering students. While at Cal Poly I also competed in my first
                      triathlon and have been doing Wildflower every year since 2008.
                    </p>
                    <p>
                      After school I started working for Intuit Inc. where I worked in Product Development on Intuit 
                      Websites (formerly Homestead). It was here that I met many of the people that I currently work 
                      with at Curious.com. My current role at Curious is that of a full-stack Software Engineer where
                      I work on most aspects of the product (no mobile development... yet). I think my best quality as 
                      an engineer is the ability to learn new things quickly.
                    </p>
                    <p>
                      While I'm not working and training for triathlons I like make things. All sorts of things. I have
                      both a 1977 Firebird and 1972 CB750 that I work on whenever I have the time and money. I've been 
                      brewing beer for over a decade, however, only recently have I started seriously trying to improve
                      my craft. To go along with the beer I just recently started making my own sausage. When I'm lucky
                      enough to own a house with a garage I'd like to purchase nice wood working tools and get better
                      at carpentry. For the time being, my carpentry projects have been limited to Cornhole Boards.
                    </p>
                </div>
            </div>
        </div>
    </section>