<h2>{{ include.post.title }}</h2>
<hr class="star-primary">
<p>
  <img src="/img/portfolio/{{ include.post.img }}" class="img-responsive img-centered" alt="{{ include.post.alt }}">
</p>
<p>
  <a href="{{ include.post.url }}"><i class="permalink fa fa-link"></i></a>
</p>
<p>{{ include.post.description }}</p>
<ul class="list-inline item-details">
  <li>Client:
    <strong>{{ include.post.client }}</strong>
  </li>
  <li>Date:
    <strong>{{ include.post.project-date }}</strong>
  </li>
  <li>Category:
    <strong>{{ include.post.category }}</strong>
  </li>
  {% if include.post.link %}
  <li>See More:
    <a href="{{ include.post.link }}" target="_blank">{% if include.post.link_title %}{{ include.post.link_title }}{% else %}{{ include.post.link }}{% endif %}</a>
  </li>
  {% endif %}
</ul>